@charset "utf-8";
/* CSS Document */

body{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	text-align: right;
	line-height: 22px;
	direction: rtl;
}

#wrapper{
	width: 100%;
}
h2{
	color: #DD1C25;
}
h3{
	font-style:italic;
	color: #666;
}

.thumbs{
	padding: 3px;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0px 0px 0px 20px;
}